{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <div class="chat mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Chatroom</h2>
                </div>
                <div class="mdl-card__supporting-text chat-messages" id="chatMessages">
                    {% for message in messages %}
                    <div class="chat-message">
                        <p>{{ message.created_at }}</p> <strong>{{ message.author.first_name }}:</strong> {{ message.text }}
                    </div>
                    {% endfor %}
                </div>
                <div class="mdl-card__actions mdl-card--border">
<script>

    window.onload = scrollToBottom()

    function getFormattedDate() {
        const months = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];
        const date = new Date();
        const month = months[date.getMonth()];
        const day = date.getDate();
        const year = date.getFullYear();
        
        return `${month} ${day}, ${year}`;
    }

    function scrollToBottom() {
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }

    async function sendMessage() {
        let date = getFormattedDate()
        let fd = new FormData();
        let token = "{{ csrf_token }}"
        fd.append('textMessage',messageField.value)
        fd.append('csrfmiddlewaretoken', token )
        try{
            chatMessages.innerHTML += `
            <div class="chat-message" id="deleteMessage">
                <p>${date}</p> <strong>{{ request.user.first_name }}:</strong> <i>${messageField.value}</i>
            </div>
            `
            scrollToBottom()
            let response = await fetch('/chat/',{
                method: 'POST',
                body: fd
            })

            let json = await response.json()
            let parse = JSON.parse(json)
            let date_json = parse[0].fields.created_at
            let text = parse[0].fields.text

            console.log('text', text, 'date',date_json)
      
            document.getElementById('deleteMessage').remove()
            chatMessages.innerHTML += `
            <div class="chat-message">
                <p>${date}</p> <strong>{{ request.user.first_name }}:</strong> ${text}
            </div>
            `
            messageField.value = ''
        } catch (err){
            console.error(err)
        }
    }

    
</script>


                    <form method="post" onsubmit="sendMessage(); return false;">
                        {% csrf_token %}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-field">
                            <input class="mdl-textfield__input" name="textMessage" type="text" id="messageField" required>
                            <label class="mdl-textfield__label" for="messageField">Type your message...</label>
                        </div>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Send
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
